{% extends "layout-admin.njk" %}

{% block head %}
    <title>Chefs - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="most-viewed">
        <div class="header-chef">
            <h1 class="title-admin">Gerenciar Receitas</h1>
            <a href="/admin/chefs/create" class="button button-criar">Novo</a>
        </div>
        
        <div class="chefs">

                <div class="chef">
                    <div style="background: url(https://images.unsplash.com/photo-1558549900-c11cb6293fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>Mirelle Carolyne</h3>
                        <a href="#">Visualizar</a>
                    </div>                    
                </div>

                <div class="chef">
                    <div style="background: url(https://images.unsplash.com/photo-1558549900-c11cb6293fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>Mirelle Carolyne</h3>
                        <a href="#">Visualizar</a>
                    </div>                    
                </div>

                <div class="chef">
                    <div style="background: url(https://images.unsplash.com/photo-1558549900-c11cb6293fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>Mirelle Carolyne</h3>
                        <a href="#">Visualizar</a>
                    </div>                    
                </div>

                <div class="chef">
                    <div style="background: url(https://images.unsplash.com/photo-1558549900-c11cb6293fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>Mirelle Carolyne</h3>
                        <a href="#">Visualizar</a>
                    </div>                    
                </div>

                <div class="chef">
                    <div style="background: url(https://images.unsplash.com/photo-1558549900-c11cb6293fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>Mirelle Carolyne</h3>
                        <a href="#">Visualizar</a>
                    </div>                    
                </div>

                <div class="chef">
                    <div style="background: url(https://images.unsplash.com/photo-1558549900-c11cb6293fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>Mirelle Carolyne</h3>
                        <a href="#">Visualizar</a>
                    </div>                    
                </div>   

                <div class="chef">
                    <div style="background: url(https://images.unsplash.com/photo-1558549900-c11cb6293fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>Mirelle Carolyne</h3>
                        <a href="#">Visualizar</a>
                    </div>                    
                </div> 

                <div class="chef">
                    <div style="background: url(https://images.unsplash.com/photo-1558549900-c11cb6293fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>Mirelle Carolyne</h3>
                        <a href="#">Visualizar</a>
                    </div>                    
                </div>          
        </div>
    </section>
{% endblock %}