{% extends "layout-admin.njk" %}

{% block head %}
    <title>Criando Receita - Foodfy</title>
{% endblock %}

{% block content %}
    <section class="edit-container">

    <form method="POST" action="/admin/recipes">
        <div class="header-edit">
            <span>Criando Receitas</span>
            <button type="submit" class="button">Salvar</button>            
        </div>

            {% include 'admin/filds.njk' %}

            <div class="item">
                <div>Ingredientes</div>
                <div id="ingredients">
                    <div class="ingredient">
                        <input
                            type="text"
                            name="ingredients[]"
                        >                        
                    </div>
                </div>
                <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
                <button type="button" class="remove-ingredient">Remover ingrediente</button>               
            </div>

            <div class="item">
                <div>Modo de preparo</div>
                <div id="preparation">
                    <div class="stage">
                        <input 
                            type="text"
                            name="preparation[]"
                        >
                    </div>
                </div>
                
                <button type="button" class="add-preparation">Adicionar novo passo</button>
                <button type="button" class="remove-preparation">Remover passo</button>
            </div>

            <div class="item">
                <div>Informações Adicionais</div>
                <div>
                    <textarea 
                        type="text"
                        name="informations"
                    ></textarea>
                </div>
            </div>
        </form>
    </section>
{% endblock %}