{% extends "layout-admin.njk" %}

{% block head %}
    <title>Editando Receita - Foodfy</title>
{% endblock %}

{% block content %}
    <section class="edit-container">
        <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
            <input type="hidden" name="index" value="{{ item.index }}">
            <button type="submit" class="button button-delete">Deletar receita</button>
        </form>

        <form method="POST" action="/admin/recipes?_method=PUT">
            <div class="header-edit">
                <span>Editando Receitas</span>
                <div>
                    <button type="submit" class="button">Salvar receita</button>
                </div>
            </div>
        
            {% include 'admin/filds.njk' %}

            <div class="item">
                <div>Ingredientes</div>
                <div id="ingredients">
                    <div class="ingredient">
                        {% for ingredient in item.ingredients %}
                            <input
                                type="text"
                                name="ingredients[]"
                                value="{{ ingredient }}"
                            >
                        {% endfor %}
                        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
                        <button type="button" class="remove-ingredient">Remover ingrediente</button>
                    </div>
                </div>
                                
            </div>

            <div class="item">
                <div>Modo de preparo</div>
                <div>
                    {% for preparation in item.preparation %}
                        <input 
                            type="text"
                            name="preparation[]"
                            value="{{ preparation }}"
                        >
                    {% endfor %}
                </div>
                <button type="button" class="add-preparation">Adicionar novo passo</button>
                <button type="button" class="remove-preparation">Remover passo</button>
            </div>

            <div class="item">
                <div>Informações Adicionais</div>
                <div>
                    <textarea 
                        type="text"
                        name="informations"
                        value=""
                    >{{ item.informations }}</textarea>
                </div>
            </div>

            <input type="hidden" name="index" value="{{ item.index }}">
        </form>
        
        <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
            <input type="hidden" name="index" value="{{ item.index }}">
        </form>
    </section>
{% endblock %}