{% extends "layout-admin.njk" %}

{% block head %}
    <title>Admin Recipes - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="most-viewed">
        <div class="header-recipe">
            <h1 class="title-admin">Gerenciar Receitas</h1>
            <a href="/admin/recipes/create" class="button button-criar">Novo</a>
        </div>
        

        <div class="recipes-admin">
            {% for item in items %}
                <div class="recipe-admin">
                    <div style="background: url({{ item.image }}) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.author }}</p>
                        <a>Visualizar</a>
                    </div>                    
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}