<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}    
           
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <header class="header-admin">
            <div>
                <a href="/admin/recipes"><img src="/assets/logo-branca.png" alt="Logo Foodfy" class="logo"></a>
            </div>            
        </header>

        {% block content %}

        {% endblock %}

        <footer>
            <p>Todos os direitos reservados, receitas Foodfy</p>
        </footer>

        {% block script %}

        {% endblock %}
    </body>
</html>