{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="most-viewed">
        <h1>Mais acessadas</h1>

        <div class="receitas">
            {% for item in items %}
                <div class="receita" id="{{ item.id }}">
                    <img src="{{ item.image }}" alt="Imagem de {{ item.title }}" class="burguer">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.author }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
    
    {# <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <img src="">
                <h3></h3>
                <p></p>
            </div>

            <div class="close-modal">
                <p>Fechar modal</p>
            </div>
        </div>
    </div> #}

    <script src="scripts.js"></script>
{% endblock %}