{% extends "layout.html" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="most-viewed">
        <h1>Mais acessadas</h1>

        <div class="videos">
            <div class="video">
                <img src="assets/burger.png" alt="Burguer" class="burguer">
                <h3>Triplo bacon burger</h3>
                <p>por Jorge Relato</p>
            </div>
            <div class="video">
                <img src="assets/pizza.png" alt="Pizza" class="pizza">
                <h3>Pizza 4 estações</h3>
                <p>por Fabiana Melo</p>
            </div>
            <div class="video">
                <img src="assets/espaguete.png" alt="Espaguete" class="espaguete">
                <h3>Espaguete ao alho</h3>
                <p>por Julia Kinoto</p>
            </div>
            <div class="video">
                <img src="assets/lasanha.png" alt="Lasanha" class="lasanha">
                <h3>Lasanha mac n' cheese</h3>
                <p>por Juliano Vieira</p>
            </div>
            <div class="video">
                <img src="assets/doce.png" alt="Doce" class="doce">
                <h3>Docinho pão-do-céu</h3>
                <p>por Rodrigo Golvea</p>
            </div>
            <div class="video">
                <img src="assets/asinhas.png" alt="Asinhas" class="asinhas">
                <h3>Asinhas de frango ao barbecue</h3>
                <p>por Vania Steroski</p>
            </div>
            <div class="video">
                <img src="assets/burger.png" alt="Burguer" class="burguer">
                <h3>Triplo bacon burger</h3>
                <p>por Jorge Relato</p>
            </div>
            <div class="video">
                <img src="assets/pizza.png" alt="Pizza" class="pizza">
                <h3>Pizza 4 estações</h3>
                <p>por Fabiana Melo</p>
            </div>
            <div class="video">
                <img src="assets/espaguete.png" alt="Espaguete" class="espaguete">
                <h3>Espaguete ao alho</h3>
                <p>por Julia Kinoto</p>
            </div>
            <div class="video">
                <img src="assets/lasanha.png" alt="Lasanha" class="lasanha">
                <h3>Lasanha mac n' cheese</h3>
                <p>por Juliano Vieira</p>
            </div>
            <div class="video">
                <img src="assets/doce.png" alt="Doce" class="doce">
                <h3>Docinho pão-do-céu</h3>
                <p>por Rodrigo Golvea</p>
            </div>
            <div class="video">
                <img src="assets/asinhas.png" alt="Asinhas" class="asinhas">
                <h3>Asinhas de frango ao barbecue</h3>
                <p>por Vania Steroski</p>
            </div>
        </div>
    </section>
    
    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <img src="">
                <h3></h3>
                <p></p>
            </div>

            <div class="close-modal">
                <p>Fechar modal</p>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
{% endblock %}