@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
* {
    margin : 0;
    padding: 0;
    border : 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

/*** HEADER ***/
header {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 0;
}

header .menu a {
    font-size: 16px;
    line-height: 19px;
    color: #111;
    text-decoration: none;
    margin-right: 30px;
    vertical-align: middle;
}

/*** INTRODUCTION ***/
#introduction {
    margin: 0 auto;
    width: 940px;
    padding: 120px 60px;
    background-color: #FBDFDB;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

#introduction img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

#description {
    max-width: 320px;
}

#description h1 {
    font-size: 32px;
    font-weight: bold;
    color: #111;    
}

#description p {
    font-size: 18px;
    line-height: 28px;
    color: #000;
    margin-top: 10px;
}

/*** MOST VIEWED ***/
#most-viewed {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

#most-viewed h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    color: #111;
    margin-bottom: 20px;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipes .recipe {
    width: 300px;
    cursor: pointer;
}

.recipes .recipe img {
    width: 100%;
    border-radius: 15px;
}

.recipes .recipe h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    color: #111;
    margin: 10px 0 5px 0;
}

.recipes .recipe p {
    font-size: 14px;
    line-height: 16px;
    color: #777;
    margin-bottom: 10px;
}

/*** FOOTER ***/
footer {
    width: 100%;
    height: 62px;
    background-color: #EEE;
    text-align: center;
}

footer p {
    font-size: 14px;
    line-height: 16px;
    color: #999;
    padding: 23px 0;
}

/*** ABOUT ***/
#about {
    width: 940px;
    margin: 20px auto;
}

#about h1 {
    font-size: 24px;
    line-height: 28px;
    color: #111;
    font-weight: bold;
}

#about h3 {
    font-size: 20px;
    line-height: 24px;
    color: #111;
    margin-top: 30px;
}

#about p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
}

/*** MODAL ***/
.modal-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: #FFF;
    width: 660px;
    margin: 5vh auto;
    border-radius: 16px;
    padding: 30px;
    text-align: center;
}

.modal-overlay .modal-content {
    width: 600px;
}

.modal-overlay .modal-content img {
    width: 100%;
    height: 200px;
}

.modal-overlay .modal-content h3 {
    color: #111;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
}

.modal-overlay .modal-content p {
    color: #777;
    font-size: 16px;
    margin-top: 5px;
}

.modal-overlay .close-modal p {
    font-size: 14px;
    color: #999;
    margin-top: 60px;
    cursor: pointer;
}

/*=== MODAL.ACTIVE ===*/
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/*=== RECEITAS ===*/
#recipe-container {
    width: 940px;
    margin: 0 auto;
    padding: 26px 0 50px 0;
}

.recipe-viewed {
    width: 940px;   
    text-align: center;
    padding: 0 0 50px 0;
}

.recipe-viewed img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
}

.recipe-viewed h1 {
    font-size: 36px;
    line-height: 42px;
    color: #111;
    margin-top: 50px;
}

.recipe-viewed p {
    font-size: 20px;
    line-height: 24px;
    color: #777;
    margin-top: 4px;
}

.title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.ingredients .ingredients-list, .preparation p, .information p {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.ingredients .ingredients-list.active, .preparation p.active, .information p.active {
    opacity: 1;
    visibility: visible;
    display: block;
}

.ingredients, .preparation {
    margin-bottom: 50px;
}

.ingredients h2, .preparation h2, .information h2 {
    font-size: 24px;
    line-height: 28px;
    color: #111;    
}

.ingredients ul li {
    font-size: 18px;
    line-height: 28px;
    margin-left: 20px;
    color: #444;
}

.preparation p, .information p {
    font-size: 18px;
    line-height: 28px;
    color: #444;
    margin-bottom: 20px;
}

.hide-show {
    font-size: 12px;
    line-height: 14px;
    color: #999;
    margin-left: 15px;
    cursor: pointer;
}

/* === ADMIN === */
.header-admin {
    width: 100%;
    height: 80px;
    background-color: #111;
    margin: 0;
    display: block;
}

#most-viewed h1.title-admin {
    margin-bottom: 30px;
}

.header-admin div {
    width: 940px;
    margin: 0 auto;
}

.recipes-admin {
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
}

.recipe-admin {
    display: flex;
    margin-bottom: 20px;
}

.recipe-admin div:first-child {
    width: 200px;
    height: 80px;
    border-radius: 8px;
}

.recipe-admin div:first-child + div {
    margin-left: 20px;
    float: left;
}

.recipe-admin h3 {
    font-size: 18px;
    color: #111;
    line-height: 21px;
}

.recipe-admin p {
    font-size: 14px;
    color: #777;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.recipe-admin a {
    font-size: 14px;
    color: #6558C3;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
}

.header-recipe,
.header-edit {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.header-recipe span,
.header-edit span {
    font-size: 24px;
    line-height: 28px;
    color: #111;
    font-weight: bold;
    margin-bottom: 24px;
}

.header-recipe a,
.header-edit a,
.button {
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
    text-decoration: none;
    background-color: #6558C3;
    padding: 8px 20px;
    border-radius: 4px;
    height: 37px;
    cursor: pointer;
}

/* === EDIT  ===*/

.edit-container {
    width: 940px;
    margin: 0 auto;
}

.header-edit {
    margin-top: 60px;
    margin-bottom: 30px;
}

.header-edit a:last-child {
    margin-left: 10px;
}

.header-edit a:first-child {
    background-color: #DC4747;
}

/* === FIELDS === */
.item {
    margin-bottom: 30px;
}

.item > div {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;;
    color: #111;
    margin-bottom: 10px;
}

.item input,
.item textarea {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #DDD;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    color: #111;
    margin-bottom: 10px;
}

.item textarea {
    resize: none;
    font-family: Roboto;
    line-height: 22px;
    text-align: justify;
    height: 240px;
}

.item button {
    margin-top: 5px;
    background: none;
}

.item button {
    font-size: 14px;
    color: #6558C3;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
}

.item .add-ingredient,
.item .add-preparation {
    margin-left: 10px;
}

.item button:last-child {
    color: #DC4747;
    margin-left: 50px;
}