{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="chef-container">
        <div class="chef-viewed chef-user">
            <img src="{{ chef.fileSrc }}" alt="{{ chef.fileName }}">
            <h1>{{ chef.name }}</h1>
            <p>{% if chef.total_recipes == 1 %} {{ chef.total_recipes }} receita {% else %} {{ chef.total_recipes }} receitas {% endif %}</p>
        </div>

        <div class="recipes-admin">
            {% for recipe in recipes %}
                <div class="recipe-admin layout-chef">
                    <img src="{{ recipe[0].src }}" alt="{{ recipe.name }}">
                    
                    <div>
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ chef.name }}</p>
                        <a href="/recipes/{{ recipe.id }}">Visualizar</a>
                    </div>                    
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}