{% extends "layout.njk" %}

{% block head %}
    <title>Chefs - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="most-viewed" class="chef-user">        
        <div class="chefs">
        
            {% for chef in chefs %}
                <div class="chef">
                    <div style="background: url({{ chef.avatar_url }}) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>{{ chef.name }}</h3>
                        <a href="/chefs/{{ chef.id }}">Visualizar</a>
                    </div>                    
                </div>
            {% endfor %}
                 
        </div>
    </section>
{% endblock %}