{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="recipe-container">    
        <div class="recipe-viewed">
            <div class="highlight">
                <img src="{{ files[0].src }}" alt="{{ files[0].name }}" onclick="Lightbox.open()">

                <div class="lightbox-target">
                    <img src="{{ files[0].src }}" alt="{{ file[0].name }}">
                    <div>
                        <a 
                            href="#" 
                            class="lightbox-close"
                            onclick="Lightbox.close()"
                        >
                        <i  class="material-icons">
                            close
                        </i>
                        </a>
                    </div>                    
                </div>
            </div>

            <div class="gallery-preview">
                {% for image in files %}
                    <div class="container-img-file">                   
                        <img 
                            src="{{ image.src }}" 
                            alt="{{ image.name }}"
                            {% if loop.index0 == 0 %}
                                class="active"
                            {% endif %}
                            onclick="ImageGallery.setImage(event)"
                        >
                     </div>
                {% endfor %}
            </div>
            
            <h1>{{ recipe.title }}</h1>
            <p>por {{ recipe.chef_name }}</p>
        </div>

        <div class="ingredients">
            <div class="title">
                <h2>Ingredientes</h2>
                <span class="hide-show">MOSTRAR</span>
            </div>
           
            <ul class="ingredients-list">

                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="preparation">
            <div class="title">
                <h2>Modo de Preparo</h2>
                <span class="hide-show">MOSTRAR</span>
            </div>
            
            <p>
                {% for preparation in recipe.preparation %}
                    {{ preparation }}
                {% endfor %}
            </p>
        </div>

        <div class="information">
            <div class="title">
                <h2>Informações Adicionais</h2>
                <span class="hide-show">MOSTRAR</span>
            </div>
            
            <p>
                {{ recipe.information }}
            </p>
        </div>
    </section>
{% endblock %}