<div class="item">
    <div>Titulo da receita</div>
    <div>
        <input 
            type="text"
            name="title"
            value="{{ recipe.title }}"
        >
    </div>
</div>

<div class="item">
    <div>Chefe</div>
    <div>
        <select name="chef_id">
            <option value="0">Selecione um Chefe</option>
            <option value="1">Paulo André</option>
            <option value="2">Mirelle</option>
            <option value="3">Sofia</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Imagem da receita</div>
    <div>
        <input 
            type="url"
            name="image"
            value="{{ recipe.image }}"
        >
    </div>
</div>

