<div class="item">
    <div>Titulo da receita</div>
    <div>
        <input 
            type="text"
            name="title"
            value="{{ recipe.title }}"
        >
    </div>
</div>

<div class="item">
    <div>Chefe</div>
    <div>
        <select name="chef_id">
                <option value="0">Selecione...</option>
            {% for chef in chefOptions %}
                <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected {% endif %}>
                    {{ chef.name }}
                </option>            
            {% endfor  %}
        </select>
    </div>
</div>

<div class="item">
    <div>Imagem da receita</div>
    <div>
        <input 
            type="url"
            name="image"
            value="{{ recipe.image }}"
        >
    </div>
</div>

