{% extends "layout-admin.njk" %}

{% block head %}
    <title>Admin Recipes - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="most-viewed">
        <div class="header-recipe">
            <h1 class="title-admin">Gerenciar Receitas</h1>
            <a href="/admin/recipes/create" class="button button-criar">Novo</a>
        </div>
        
        <div class="recipes-admin">
            {% for recipe in recipes %}
                <div class="recipe-admin">
                    <div style="background: url({{ recipe.image }}) no-repeat center center / cover;">
            
                    </div>
                    
                    <div>
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.chef_name }}</p>
                        <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                    </div>                    
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}