{% if error %}
    <div class="messages error">
        {{ error }}
    </div>
{% endif %}

{% if success %}
    <div class="messages success">
        {{ success }}
    </div>
{% endif %}

{% if error_login %}
    <div class="messages error-login">
        {{ error_login }}
    </div>
{% endif %}

{% if succes_forgot %}
    <div class="messages success-forgot">
        {{ succes_forgot }}
    </div>
{% endif %}